vendor/
node_modules/
composer.lock

# Laravel 5 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
tests/logs

# Coverage output 
build/

# PhpStorm
.idea